/* container */
.container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: var(--dark__back);
    padding: 20px;
    color: var(--light__text);
}

/* tabs */
.tabsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 20px;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 450ms;
    //width: 120px;
    text-align: center;
    border: 1px solid var(--dark__back);
}
.numContainer {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: var(--dark__back);
    border: 1px solid var(--dark__back);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -16px;
    right: -16px;
}
.tabNumber {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 0px;
}
.tabText {
    margin: 0px;
    font-size: 14px;
    font-weight: bolder;
    flex: 1;
    text-align: left;
}

/* table */
.table {
    max-height: 250px;
    overflow-y: scroll;
    font-size: 16px;
}
.propertyRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rowLabel {
    margin: 0px;
}
.propertyIcon {
    color: var(--light__text);
}
/* <------responsive design--------> */
/* 1350 */
@media (max-width: 1350px) {
    .table {
        font-size: 15px !important;
    }
}
/* 1080 */
@media (max-width: 1080px){
    .table {
        font-size: 14px !important;
    }
}

/* 650 */
@media (max-width: 650px) {
    .table {
        font-size: 12px !important;
    }
}

/* 400 */
@media (max-width: 400px) {
    .tabsContainer {
        grid-template-columns: auto auto;
    }
    .tabText {
        font-size: 12px;
    }
    .numContainer {
        width: 25px;
        height: 25px;
        top: -16px;
        right: -16px;
    }
    .tabNumber {
        font-size: 12px;
    }
}