/* container */
.container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: var(--dark__back);
    padding: 20px;
    color: var(--light__text);
}

/* data container */
.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}
.dataContainer {
    flex: 1;
}

/* pie container */
.pieContainer {
    width: 300px;
    height: 300px;
}

/* tabs */
.tabsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    margin-bottom: 20px;
}
.paidTab, .onTimeTab, .notPaidTab {
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 450ms;
}
.paidTab {
    color: var(--success);
    border: 1px solid var(--success);
}
.paidTab:hover, .onTimeTab:hover, .notPaidTab:hover {
    transform: scale(1.06);
}
.onTimeTab {
    color: var(--medium);
    border: 1px solid var(--medium);
}
.notPaidTab {
    color: var(--cancel);
    border: 1px solid var(--cancel);
}

.tabInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabNumber {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}
.tabIcon {
    width: 25px !important;
    height: 25px !important;
}
.tabText {
    margin: 0px;
    font-size: 14px;
}

/* table */
.table {
    max-height: 200px;
    overflow-y: scroll;
    color: var(--light__text);
    opacity: 0.9;
    font-size: 16px;
}
.propertyRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rowLabel {
    margin: 0px;
}
.propertyIcon {
    color: var(--light__text);
}



/* <------responsive design--------> */
/* 1500px */
@media (max-width: 1500px){
    .pieContainer {
        width: 250px;
        height: 250px;
    }
}

/* 1350px */
@media (max-width: 1350px){
    .pieContainer {
        width: 210px;
        height: 210px;
    }
    .paidTab, .onTimeTab, .notPaidTab {
        padding: 2px 6px;
    }
    .tabNumber {
        font-size: 22px;
    }
}

/* 1250px */
@media (max-width: 1250px){
    .pieContainer {
        width: 200px;
        height: 200px;
    }
    .table {
        font-size: 14px;
    }
}


/* 1080 */
@media (max-width: 1080px){
    .table {
        font-size: 14px;
    }
}

/* 950 */
@media (max-width: 950px){
    .infoContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* 650 */
@media (max-width: 650px){
    .pieContainer {
        width: 150px;
        height: 150px;
    }
    .table {
        font-size: 12px;
    }
    .table {
        font-size: 12px;
    }
}