/* container */
.container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: var(--dark__back);
    padding: 20px;
    color: var(--light__text);
}

/* data container */
.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.dataContainer {
    flex: 1;
}

/* pie container */
.pieContainer {
    width: 300px;
    height: 300px;
}

/* tabs */
.tabsContainer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}
.paidTab, .notPaidTab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.paidTab {
    border: 1px solid var(--success);
    background: var(--success);
    color: #07592d;
}
.notPaidTab {
    background: var(--cancel);
    border: 1px solid var(--cancel);
    color: #a5280e;
}

.tabInner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabNumber {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}
.tabIcon {
    width: 30px !important;
    height: 30px !important;
}
.tabText {
    margin: 0px;
    font-size: 14px;
}


/* <------responsive design--------> */

/* 1350px */
@media (max-width: 1350px){
    .pieContainer {
        width: 250px;
        height: 250px;
    }
}

/* 1250px */
@media (max-width: 1250px){
    .pieContainer {
        width: 200px;
        height: 200px;
    }
}

/* 950 */
@media (max-width: 950px){
    .infoContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tabsContainer {
        grid-template-columns: auto auto;
        column-gap: 20px;
    }
}

/* 650 */
@media (max-width: 650px){
    .pieContainer {
        width: 150px;
        height: 150px;
    }
}