.main {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark__back)
}

/* image background */
.background {
  flex: 0.5;
  width: 50vw;
  height: 100vh;
  background-image: url('/auth/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* info__container */
.info__container {
  flex: 0.5;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

/* logo */
.logo__container {
  width: 300px;

}
.logo {
  width: 300px;
  height: auto;
}

/* form */
.form__container, .login__container {
  flex: 1;
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__container {
  max-width: 500px;
}
.form__inputs_container, .login__inputs_container {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto;
}
.login__inputs_container {
  grid-template-columns: auto;
} 
.input__container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--logo__primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.input__icon {
  margin-right: 10px;
  color: var(--logo__primary);
}
.input {
  width: 100%;
  background: none;
  border: none;
  outline: none !important;
  color: var(--light__text);
}

/* forgot password */
.forgot__container {
  width: 100%;
  margin-bottom: 50px;
}
.forgot__link {
  text-decoration: underline;
  color: white;
  opacity: 0.5;
  font-size: 12px;
}

/* sign up button */
.gradient__btn {
  background-image: linear-gradient(90deg, #E0B14E -0.25%, #E3C37E 100.63%);
  padding: 15px 100px;
  border-radius: 10px;
  border: none;
  color: var(--dark__text);
  font-size: 18px;
  cursor: pointer;
  transition: transform 450ms;
  margin-bottom: 30px;
}
.gradient__btn:hover {
  transform: scale(1.1);
}

/* login button */
.transparent__btn {
  background: none;
  border: 1px solid var(--logo__primary);
  border-radius: 10px;
  padding: 15px 100px;
  color: var(--logo__primary);
  cursor: pointer;
  transition: transform 450ms;
  font-size: 18px;
}
.transparent__btn:hover {
  background: var(--logo__primary);
  color: var(--light__text);
  transform: scale(1.1);
}

/* error message */
.error_container {
  background: none;
  border: 1px solid var(--logo__primary);
  border-radius: 10px;
  //padding: 15px 100px;
  width: 282px;
}

/* loader */
.loader {
  width: 100px;
  margin: auto;
}


/* <------responsive design--------> */
/* 1080 */
@media (max-width: 1080px){
  .background {
    display: none;
  } 
  .info__container {
    flex: 1;
  }
}