/* container */
.container {
    height: 100vh;
    width: 100%;
    padding: 30px;
    color: var(--light__text);   
    max-width: calc(100vw - 180px);
}
.inner__container {
    min-height: calc(100vh - 60px);
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    background: var(--dark__back);
}

/* actions container */
.properties__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* search input */
.filter__container {
  width: 100%;
  padding: 4px 10px;
  border-radius: 25px;
  border: 1px solid var(--light__text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search__input {
  width: 100%;
  background: none;
  border: none;
  outline: none !important;
  color: var(--light__text);
  margin-left: 10px;
}

/* table */
.table__container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
    overflow-x: scroll;
    padding-bottom: 15px;
    font-size: 16px;
    max-height: calc(100vh - 230px);
}
.table__text {
    font-size: 16px;
}
.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    margin-bottom: 15px;
}

.header__cell {
    width: 250px;
    min-width: 250px;
}
.header__cell__md {
    width: 180px;
    min-width: 180px;
}
.header__cell__sm {
    width: 140px;
    min-width: 140px;
}
.header__cell__lg {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}
.table__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cell__btns {
    display: flex;
    justify-content: space-center;
    align-items: center;
}

/* dialog button */
.cancel__fill__btn, .save__fill__btn {
    border-radius: 25px;
    padding: 10px;
    background: none;
    margin: 0px;
    width: 160px;
    cursor: pointer;
    transition: transform 450ms;
}
.cancel__fill__btn {
    background: var(--cancel);
    border: none;
    transition: transform 450ms;
}
.save__fill__btn {
    background: var(--success);
    border: none;
    transition: transform 450ms;
}
.cancel__fill__btn:hover, .save__fill__btn:hover {
    transform: scale(1.08);
}


/* <------responsive design--------> */
/* 1350 */
@media (max-width: 1350px){
    .container {
        padding: 20px;
    }
    .inner__container {
        min-height: calc(100vh - 40px);
    }
    .table__container, .table__text {
        font-size: 15px !important;
    }
}
/* 1080 */
@media (max-width: 1080px){
    .container {
        padding-bottom: 60px;
        max-width: 100vw;
    }
    .inner__container {
        min-height: calc(100vh - 100px);
    }
    .table__container, .table__text {
        font-size: 14px !important;
    }
}

/* 650px */
@media (max-width: 650px) {
    .container {
        padding: 15px;
    }
    .properties__header {
        display: block;
    }
    .header__actions {
        margin-top: 20px;
    }
    .header__cell__sm {
        display: none;
    }
    .table__container, .table__text {
        font-size: 12px !important;
    }
    .header__cell {
        width: 220px;
        min-width: 220px;
    }
}

/* 500 */
@media (max-width: 500px) {
    .container {
        padding: 10px;
    }
    .inner__container {
        min-height: calc(100vh - 70px);
        padding: 10px;
    }
    .search__input {
        margin-left: 2px;
    }
}