/* container */
.container {
    height: 100vh;
    width: 100%;
    padding: 30px;
    color: var(--light__text);   
}
.inner__container {
    min-height: calc(100vh - 60px);
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    background: var(--dark__back);
}

/* actions container */
.properties__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* search input */
.filter__container {
  width: 100%;
  padding: 4px 10px;
  border-radius: 25px;
  border: 1px solid var(--logo__primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search__input {
  width: 100%;
  background: none;
  border: none;
  outline: none !important;
  color: var(--light__text);
  margin-left: 10px;
}

/* table */
.table__container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
    overflow-x: scroll;
}
.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    margin-bottom: 15px;
}

.header__cell {
    width: 250px;
    min-width: 250px;
}
.header__cell__sm {
    width: 150px;
    min-width: 150px;
}
.header__cell__lg {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}
.table__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cell__btns {
    display: flex;
    justify-content: space-center;
    align-items: center;
}

/* dialog button */
.cancel__fill__btn, .save__fill__btn {
    border-radius: 25px;
    padding: 10px;
    background: none;
    margin: 0px;
    width: 160px;
    cursor: pointer;
    transition: transform 450ms;
}
.cancel__fill__btn {
    background: var(--cancel);
    border: none;
    transition: transform 450ms;
}
.save__fill__btn {
    background: var(--success);
    border: none;
    transition: transform 450ms;
}
.cancel__fill__btn:hover, .save__fill__btn:hover {
    transform: scale(1.08);
}


/* <------responsive design--------> */
/* 1080 */
@media (max-width: 1080px){
    .container {
        padding-bottom: 60px;
    }
    .inner__container {
        min-height: calc(100vh - 120px);
    }
}