/* container */
.container {
    height: 100vh;
    width: 100%;
    padding: 30px;
    color: var(--light__text);   
}
.inner__container {
    min-height: calc(100vh - 60px);
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    background: var(--dark__back);
}

/* header */
.users__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/* add user */
.add__container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.inputs__container {
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
}
.input__container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--logo__primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.input__icon {
  margin-right: 10px;
  color: var(--logo__primary);
}
.input {
  width: 100%;
  background: none;
  border: none;
  outline: none !important;
  color: var(--light__text);
}

/* table */
.users__table {
    width: 100%;
    max-width: 800px;
    margin: auto;
    max-height: calc(100vh - 230px);
    margin-top: 50px;
    overflow-x: scroll;
    padding-bottom: 15px;
    font-size: 16px;
}
.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}

.header__cell_sm {
    width: 180px;
    min-width: 180px;
}
.header__cell {
    width: 250px;
    min-width: 250px;
}
.header__cell__lg {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cell__btns {
    display: flex;
    justify-content: space-center;
    align-items: center;
}

/* <------responsive design--------> */
/* 1350 */
@media (max-width: 1350px){
    .container {
        padding: 20px;
    }
    .users__table {
        font-size: 15px !important;
    }
}

/* 1080 */
@media (max-width: 1080px){
    .container {
        padding-bottom: 60px;
    }
    .inner__container {
        min-height: calc(100vh - 100px);
    }
    .users__table {
        font-size: 14px !important;
    }
}

/* 650 */
@media (max-width: 650px){
    .users__table {
        font-size: 12px !important;
    }
}

/* 500 */
@media (max-width: 500px){
    .container {
        padding: 15px;
    }
    .inner__container {
        min-height: calc(100vh - 80px);
    }
    .users__table {
        max-height: calc(100vh - 210px);
    }
    .inputs__container {
        grid-template-columns: auto;
    }
    .input__container {
        margin-bottom: 10px;
    }
    
}